# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#all files in the build directory
Threadbeast/sim/build/
Threadbeast/sim/build/CMakeFiles/
Threadbeast/sim/runGrid.py
Threadbeast/sim/runParallel.py
Threadbeast/sim/bez5side.h
Threadbeast/sim/bezRectangle.h
Threadbeast/sim/centres.h


Threadbeast/runGrid.py
Threadbeast/runParallel.py
Threadbeast/sim/CMakeLists.txt
Threadbeast/sim/bez5side.h
Threadbeast/sim/bezRectangle.h
Threadbeast/sim/build/CMakeCache.txt
Threadbeast/sim/build/CMakeFiles/3.12.2/CMakeCCompiler.cmake
Threadbeast/sim/build/CMakeFiles/3.12.2/CMakeCXXCompiler.cmake
Threadbeast/sim/build/CMakeFiles/3.12.2/CMakeDetermineCompilerABI_C.bin
Threadbeast/sim/build/CMakeFiles/3.12.2/CMakeDetermineCompilerABI_CXX.bin
Threadbeast/sim/build/CMakeFiles/3.12.2/CMakeSystem.cmake
Threadbeast/sim/build/CMakeFiles/CMakeOutput.log
Threadbeast/sim/build/CMakeFiles/Makefile.cmake
Threadbeast/sim/build/CMakeFiles/Makefile2
Threadbeast/sim/build/CMakeFiles/TargetDirectories.txt
Threadbeast/sim/build/CMakeFiles/feature_tests.bin
Threadbeast/sim/build/CMakeFiles/process.dir/CXX.includecache
Threadbeast/sim/build/CMakeFiles/process.dir/DependInfo.cmake
Threadbeast/sim/build/CMakeFiles/process.dir/build.make
Threadbeast/sim/build/CMakeFiles/process.dir/depend.internal
Threadbeast/sim/build/CMakeFiles/process.dir/depend.make
Threadbeast/sim/build/CMakeFiles/process.dir/flags.make
Threadbeast/sim/build/CMakeFiles/process.dir/link.txt
Threadbeast/sim/build/CMakeFiles/progress.marks
Threadbeast/sim/build/Makefile
Threadbeast/sim/build/process
Threadbeast/sim/centres.h
Threadbeast/sim/runprocess.sh
Threadbeast/sim/runprocessDisplay.sh
Threadbeast/sim/runprocessField.sh
Threadbeast/sim/runprocessNoDisplay.sh
#files to ignore
Centres.png
NewCentres.png
SimStatic.py
Threadbeast/Respite/
Threadbeast/ThreadbeastprocessDisplay.cpp
Threadbeast/ThreadbeastprocessNoDisply.cpp
Threadbeast/Threadbeastregion.h
Threadbeast/barrelAE.svg
Threadbeast/cleanDn.py
Threadbeast/collateResults.py
Threadbeast/configs/
Threadbeast/erm.json
Threadbeast/logs/
Threadbeast/output
Threadbeast/sim/Classes/
Threadbeast/sim/Display.output
Threadbeast/sim/Vcoords.txt
Threadbeast/sim/boundary.svg
Threadbeast/sim/centre.txt
Threadbeast/sim/centres.txt
Threadbeast/sim/centres5side.h
Threadbeast/sim/centresMouse.h
Threadbeast/sim/centresRat.h
Threadbeast/sim/configs/
Threadbeast/sim/diff
Threadbeast/sim/diffregion
Threadbeast/sim/display.output
Threadbeast/sim/field.output
Threadbeast/sim/first.output
Threadbeast/sim/grep
Threadbeast/sim/json.output
Threadbeast/sim/logs/
Threadbeast/sim/markTesselation.sh
Threadbeast/sim/noDisplay.output
Threadbeast/sim/oldcentres.h
Threadbeast/sim/oldoutput
Threadbeast/sim/out
Threadbeast/sim/output
Threadbeast/sim/output.diff
Threadbeast/sim/outputHex
Threadbeast/sim/processDisplay.sh
Threadbeast/sim/rat.svg
Threadbeast/sim/runprocessJson.sh
Threadbeast/sim/runsetCentres.sh
Threadbeast/sim/second.output
Threadbeast/sim/tempoutput
Threadbeast/sim/temprunprocess.sh
Threadbeast/sim/test
Threadbeast/sim/tests/
Threadbeast/sim/third.output
Threadbeast/sim/wb_010904_Dirichlet.svg
Threadbeast/sim/wb_040107_Dirichlet.svg
Threadbeast/sim/wb_060405_Dirichlet.svg
Threadbeast/sim/wb_090306_Dirichlet.svg
Threadbeast/sim/wb_110405.svg
Threadbeast/sim/wb_110405_Dirichlet.svg
Threadbeast/sim/wb_110405_DirichletTough.svg
Threadbeast/sim/wb_110405_FgfMis.svg
Threadbeast/sim/wb_110405_Mirror.svg
Threadbeast/simWhole/
Threadbeast/tmp/
Threadbeast/zero.txt
barrelCircle.py
centres.txt
centres.txt~
centresRandom.png
centresRandom.txt
centresRandom1.png
clean.sh
degreeResults.txt
edgesList.diff
labelPoints.m
logs.data.bin
logs/
logsWhole/
meanzero.txt
new_centres.txt
old_centres.txt
processes.pyc
processes/sim/.gitignore
processes/sim/Tests/
processes/sim/barrel.h
processes/sim/barrelCentres.txt
processes/sim/checkdissect.cpp~
processes/sim/error
processes/simSeb/error
radiusHistogram.m
regionList.out~
simEvolve.py
simStatic.py
simStatic.py~
smoothCurve.py
threadProcesses.py
turn.txt
zero.txt
